.inputWrapper {
  position: relative;
  height: 44px;
  margin: 0 auto 50px;
  width: 664px;
}

.input {
  border: 1px solid #d3dcd8;
  border-radius: 20px;
  width: 666px;
  outline: none;
  height: 100%;
  box-shadow: 0 2px 3px #bbbab6;
  font-size: 17px;
  text-indent: 14px;
}

.inputWrapper span {
  width: 26px;
  height: 100%;
  position: absolute;
  right: 16px;
  top: 11px;
  outline: none;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
  pointer-events: auto;
  background: url("/img/googlemic_clr_24px.svg") no-repeat;
  background-size: 21px 21px;
}